<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DBOS - API - Info</title>
  <link rel="stylesheet" href="/css/root.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" href="https://github.com/dxy-Seer/dbos/blob/main/public/img/logo.PNG?raw=true" type="image/x-icon">
</head>
<body>
  <div class="title">
    <br>
    <br>
    <img class="api" src="https://github.com/dxy-Seer/dbos/blob/main/public/img/logo.PNG?raw=true">
    <h1>Info</h1>
    <h3>The bot stats and info</h3>
  </div>
  <div class="container">
      <a class="dbtn" style="margin: 10px;">Uptime: <%= uptime %> </a>
      <a href="<%= invite %>" class="dbtn">Invite Link: <%= invite %></a>
  </div>
  <div class="container">
    <a class="dbtn" style="margin: 10px;">ID: <%= id %></a>
    <a class="dbtn">Domain: <%= domain %>:<%= port %> </a>
  </div>
  <div class="container">
    <a class="dbtn" style="margin: 10px;">Owner: <%= owner %></a>
  </div>


</body>
</html>

